<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.homeward.website.mapper.ItemMapper">
    <cache eviction="LRU" size="512"/>

    <resultMap id="itemPreview" type="ItemPreview" autoMapping="true"/>
    <select id="selectItemsListByCategory" parameterType="String" resultMap="itemPreview" useCache="true">
        select
            id, amount, group_name,
            price, discount, discount_percent,
            image_regular, image_hover
        from
            homeward_webstore.item
        where
            category = #{category}
        order by
            of_group, amount
    </select>

    <resultMap id="itemPackage" type="ItemPackage" autoMapping="true"/>
    <select id="selectItemPackageById" useCache="true" resultMap="itemPackage">
        select
            t1.id, t1.amount, t1.name, t1.category, t1.price, t1.discount, t1.discount_percent, t1.image_regular,
            t2.description
        from
            (select id, amount, name, category, price, discount, discount_percent, image_regular, of_group
                from homeward_webstore.item where id = #{id}) as t1,
            (select id, description
                from homeward_webstore.item_description) as t2
        where
            t1.of_group = t2.id
    </select>
</mapper>